<table id = "kibans">
  <thead>
    <tr>
      <th>経過日</th>
      <th>基板名</th>
      <th>最終注文日</th>
      <th>メーカー</th>
      <th>終了</th>
      <th width = 100>備考</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kibans2.each do |kiban|
      if(kiban.経過日 >= 0) then
          @progress = "残り#{kiban.経過日}日";
          @color = "orange"
        else
          @progress ="#{-kiban.経過日}日経過";
          @color = "red"
        end%>

      <tr>
        <td><font color = <%= @color %>><%= @progress%> </font></td>
        <td><%= kiban.基板名 %></td>
        <%#= form_tag ("/kibans/index"),remote: true ,id: "ajax2" do %> <%#非同期ができてない%>
        <td><%= date_select kiban.id,:date,
          {:use_month_numbers => true,
            start_year: 2000,
            end_year: Time.now.year,
            default: kiban.最終注文日,
            date_separator: "-",
            remote: true,
          },{class: "select_date_#{kiban.id}"}
             %>
             <input type='hidden' id="id" value=<%= kiban.id%> ><%#パラメーターの増設%>
             <%#= submit_tag "変更"%></td>
             <%# end %>
        <td><%= kiban.メーカー %></td>
        <td><%= check_box_tag kiban.id, true, kiban.終了, {
    data: {
        url:  url_for( :action => 'check', :id => kiban.id),
        method: :post,
        remote: true,
    }
}  %></td>
        <td><%= kiban.備考 %></td>
        <td><%= link_to 'Show', kiban %></td>
        <td><%= link_to 'Edit', edit_kiban_path(kiban) %></td>
        <td><%= link_to 'Destroy', kiban, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
  </tbody>
</table>
<script>
  var ajax1;

  ajax1 = function() {};

  $(function() {
    return $('#ajax2').on('ajax:complete', function(event) {
      var response;
      response = event.detail[0].response;
      return $('#new').html(response);
    });
  });

  $(document).on("click", ajax1);

</script>
<br>
